
<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
        
        <%= blogs.lenght %>
        <% if (blogs.length > 0) { %>
            <% blogs.map(blog => { %>
                <article class="entry-blog">
                    <h3 class="enty-title"><a href="/blog/<%= blog._id %>"><%= blog.title %></a></h3>
                    <p class="entry-snippet"><%= blog.snippet %></p>
                </article>
            <% }) %>

        <% } else { %>
            <p>There is no blogs to show</p>
        <% }  %>
    </div>

    <%- include('../partials/footer.ejs') %>
    
</body>
</html>